{
    "root": true,
    "plugins": [
        "security",
        "sonarjs"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "extends": [
        "plugin:security/recommended",
        "plugin:sonarjs/recommended",
        "plugin:vue/recommended"
    ]
}